@model IEnumerable<eBiletApp.Models.Kullanici>

@{
    ViewData["Title"] = "Tüm Üyeler";
}
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<h1 class="text-center">@localizer["Tüm Kullanıcılar"]</h1>


<table class="table">
    <thead>
        <tr class="text-center text-uppercase">
            <th>

                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdSoyad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="text-center">
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td class="font-weight-bold">
                    @Html.DisplayFor(modelItem => item.AdSoyad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>

            </tr>
        }
    </tbody>
</table>
