@model IEnumerable<eBiletApp.Models.Sinema>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "Sinemalar";
}

<h1>@localizer["SİNEMALAR"]</h1>

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{<p>
        <a asp-action="Create" class="btn btn-success text-white">@localizer["Sinema Ekle"]</a>
    </p>
}

<table class="table">
    <thead>
        <tr class="text-center text-uppercase">
            <th>
                @Html.DisplayNameFor(model => model.SinemaFotografi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SinemaAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SinemaHakkinda)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="text-center">
                <td>
                    <img src="@item.SinemaFotografi" asp-append-version="true" style="width:200px; height:200px;">
                </td>
                <td class="font-weight-bold">
                    @Html.DisplayFor(modelItem => item.SinemaAdi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SinemaHakkinda)
                </td>
                <td>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {<a asp-action="Edit" asp-route-id="@item.SinemaId" class="btn btn-secondary btn-block">@localizer["Düzenle"]</a>
                        <br />
                        <a asp-action="Details" asp-route-id="@item.SinemaId" class="btn btn-info btn-block">@localizer["Detay"]</a>
                        <br />
                        <a asp-action="Delete" asp-route-id="@item.SinemaId" class="btn btn-dark btn-block">@localizer["Sil"]</a>}

                </td>
            </tr>
        }
    </tbody>
</table>
