@model IEnumerable<eBiletApp.Models.Film>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "Filmler";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3"style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-dark">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                    {<a class=" btn btn-dark text-white float-left" style="font-size:large" asp-action="Edit" asp-route-id="@item.FilmId">@localizer["Düzenle"]</a>}
                                    <a class="text-center">            @item.FilmAdi   </a>
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                    {<a class="btn btn-dark text-white float-right" style="font-size:large" asp-action="Delete" asp-route-id="@item.FilmId">@localizer["Sil"]</a>}
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <p class="card-text" ><b>Film Hakkında: </b>@item.FilmHakkinda.Substring(0, 20) ...</p>
                            <p class="card-text" ><b>Kategori: </b>@item.FilmKategorisi</p>
                            <p class="card-text" ><b>Sinema:  </b>@item.Sinema.SinemaAdi</p>
                            <p class="card-text" >
                                <b>Seans Seçiniz: </b>
                                <select name="saat" id="saat" style=" border: none; overflow: hidden; background-color: whitesmoke;">
                                    <option class="btn btn-outline-info card-text" value="bir">@item.FilmBaslamaSaati1</option>
                                    <option class="btn btn-outline-info card-text" value="iki">@item.FilmBaslamaSaati2</option>
                                    <option class="btn btn-outline-info card-text" value="uc">@item.FilmBaslamaSaati3</option>
                                </select>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="@item.FilmFotografi" width="100%" height="100%" asp-append-version="true" >
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer">
                            <p class="card-text">
                                <a class="btn btn-outline-secondary float-right" asp-action="Details" asp-route-id="@item.FilmId">
                                    Daha Fazla
                                </a>
                                <a asp-controller="Siparis" asp-action="SepeteEkleArtir" asp-route-id="@item.FilmId" class="btn btn-dark text-white">
                                    Bilet Al @item.FilmUcreti TL
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>











@*<h1>FİLMLER</h1>

    <p>
        <a asp-action="Create" class="btn btn-outline-dark">Yeni Film Ekle</a>
    </p>
    <table class="table">
        <thead>
            <tr class="text-center">
                <th>
                    @Html.DisplayNameFor(model => model.FilmAdi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FilmHakkinda)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FilmBaslamaSaati1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FilmBaslamaSaati2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FilmBaslamaSaati3)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FilmFotografi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FilmKategorisi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FilmUcreti)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sinema)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Yonetmen)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr class="text-center">
                <td  class="font-weight-bold">
                    @Html.DisplayFor(modelItem => item.FilmAdi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FilmHakkinda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FilmBaslamaSaati1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FilmBaslamaSaati2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FilmBaslamaSaati3)
                </td>
                <td>
                    <img src="@item.FilmFotografi" asp-append-version="true" style="width:200px; height:200px;">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FilmKategorisi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FilmUcreti)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sinema.SinemaId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Yonetmen.YonetmenId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.FilmId" class="btn btn-secondary btn-block">Düzenle</a>
                    <br />
                    <a asp-action="Details" asp-route-id="@item.FilmId" class="btn btn-info btn-block">Detaylar</a>
                    <br />
                    <a asp-action="Delete" asp-route-id="@item.FilmId" class="btn btn-dark btn-block">Sil</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@
